@import './variables';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica;
    color: #f5f5f5;
    box-sizing: border-box;
}

body {
    background-color: $primary;
    max-width: 1246px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 4px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: $tertiary;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* creates padding around scroll thumb */
}

hr {
    border: 1px solid $tertiary;
    width: 500px;
    margin: 0 auto;
}